@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.custom-shadow {
  /* box-shadow: 0em 0.5em 1em -0.5em rgba(5, 7, 15, 0.2); */
  /* box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; */
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
